* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background-color: #e74646;
}

header {
  background-color: #ffe5ca;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
}

header h1 {
  font-family: "Alkatra", cursive;
  font-size: 3em;
  color: #e74646;
  margin-left: 1em;
}

header ul {
  display: flex;
  list-style: none;
  margin-right: 1em;
  font-size: 1.4em;
  align-items: center;
}

header ul li {
  margin-left: 2em;
  color: #fa785e;
  padding: 0.4em 0.5em;
  border-radius: 15px;

  transition: all 1s ease 0s;
}

header ul li:hover {
  background-color: #fa9884;
  color: #fff3e2;
}

header ul li figure img {
  scale: 20%;
}

.shopping-bag {
  display: flex;
}

.fa-bag-shopping {
  font-size: 2em;
  color: #fa785e;
  padding: 0.4em 0.5em;
  border-radius: 50%;
  transition: all 1s;
}

.fa-bag-shopping:hover {
  background-color: #fa9884;
  color: #fff3e2;
}

header section {
  display: flex;
  align-items: center;
}

.bag {
  display: flex;
  border-radius: 20px;
}

.bag-item {
  color: #fa785e;
  font-size: 1.5em;
  border-radius: 15px;
  transition: all 1s;
}

.bag-item:hover {
  background-color: #fa9884;
  color: #fff3e2;
}

/* main */
main {
  display: flex;
  justify-content: center;
  height: 23em;
  align-items: center;
}

main h1 {
  font-family: "Alkatra", cursive;
  font-size: 12em;
  color: #fff3e2;
  padding: 10px;
}

.navbuttons-container {
  width: 98.89vw;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  background-color: #fb765b;
  padding: 0.5em 0;
}

.navbuttons-container li {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.3s;
}

.navbuttons-container li:hover {
  color: whitesmoke;
}
/* content */
.content-container {
  height: 100vh;
  gap: 1em;
}

.product-list {
  outline: 3px solid orange;
  background-color: #ffe5ca;
  margin-right: 2em;
}

#product-list {
  background-color: #ffe5ca;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3em;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
