* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

body {
  background-color: #e74646;
}

header {
  background-color: #ffe5ca;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  width: 98.899vw;
  padding: 5px;
}

header h1 {
  font-family: "Alkatra", cursive;
  font-size: 3em;
  color: #e74646;
  margin-left: 1em;
}

header ul {
  display: flex;
  list-style: none;
  margin-right: 1em;
  font-size: 1.4em;
  align-items: center;
}

header ul li {
  margin-left: 2em;
  color: #fa785e;
  padding: 0.4em 0.5em;
  border-radius: 15px;

  transition: all 1s ease 0s;
}

header ul li:hover {
  background-color: #fa9884;
  color: #fff3e2;
  cursor: pointer;
}

header ul li figure img {
  scale: 20%;
}

img {
  width: 180px;
  height: auto;
}

.shopping-bag {
  display: flex;
}

.fa-bag-shopping {
  font-size: 2em;
  color: #fa785e;
  padding: 0.4em 0.5em;
  border-radius: 50%;
  transition: all 1s;
}

.fa-bag-shopping:hover {
  background-color: #fa9884;
  color: #fff3e2;
}

header section {
  display: flex;
  align-items: center;
}

.bag {
  display: flex;
  border-radius: 20px;
}

.bag-item {
  color: #fa785e;
  font-size: 1.5em;
  border-radius: 15px;
  transition: all 1s;
}

.bag-item:hover {
  background-color: #fa9884;
  color: #fff3e2;
  cursor: pointer;
}

/* main */
main {
  display: flex;
  justify-content: center;
  height: 23em;
  align-items: center;
}

main h1 {
  font-family: "Alkatra", cursive;
  font-size: 12em;
  color: #fff3e2;
  padding: 10px;
  text-shadow: 3px 4px black;
}

.navbuttons-container {
  width: 99.9vw;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  background-color: #fb765b;
  padding: 0.5em 0em;
}

.navbuttons-container li {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  transition: all 0.3s;
  margin-left: 7em;
}

.navbuttons-container li:hover {
  color: whitesmoke;
  cursor: pointer;
}
/* content */
.content-container {
  height: 100vh;
  gap: 1em;
}

.product-list {
  outline: 3px solid orange;
  background-color: #ffe5ca;
  margin-right: 2em;
}

#product-list {
  background-color: #ffe5ca;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3em;
}

.item {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: aqua;
  padding: 10px 10px;
  border-radius: 5px;
  gap: 1em;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
  #product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  header h1 {
    font-size: 2em;
  }
  main h1 {
    font-size: 3.5em;
    padding: 0.2em;
  }

  main {
    height: 10em;
  }

  .navbuttons-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbuttons-container li {
    margin: 0 0 0 2.4em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1260px) {
  main h1 {
    font-size: 7em;
  }
  #product-list {
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
  }
  .navbuttons-container li {
    margin-left: 3em;
  }
}
